<!DOCTYPE html>
<html>
<head>
    <title>Project ZeroBoom</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />

    <!-- <script src="../../static/js/includeHTML.js"></script> -->
    <!--<link rel="stylesheet" href="../../public/css/login.css"> -->
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<!-- <header include-html="/layout/header.html"></header> -->

<div id="container">
  <div id="loginer">
    <div id="form">
      <form action="/api/user/login" method="post">
        <fieldset>
            <legend>Login</legend>
            <input type="text" class="input" name="id" placeholder="아이디"></input><br>
            <input type="password" class="input" name="password" placeholder="비밀번호"></input><br><br>
        </fieldset>
        <button type="submit" class="btn btn-success">Sign in</button>
      </form>
    </div>
  </div>
</div>

<!-- <footer include-html="/layout/footer.html"></footer> -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- <script>
    includeHTML();
</script> -->
</body>
</html>