#loginer {
  padding: 20px;
  margin-bottom: 20px;
  /* border: 1px solid #bcbcbc; */
  text-align: center;
}

#form {
  margin-top: 200px;
  font-size: 1.3em;
  width: 30%;
  display: inline-block;
  border: 1px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
}

button {
  border: 0px;
  background-color: white;
}

#signupimg {
  font-size: 1em !important;
}

.input {
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 10px;
}
